@import "tailwindcss";

@theme {
  --color-p-50: oklch(0.98 0.016 73.684);
  --color-p-100: oklch(0.954 0.038 75.164);
  --color-p-200: oklch(0.901 0.076 70.697);
  --color-p-300: oklch(0.837 0.128 66.29);
  --color-p-400: oklch(0.75 0.183 55.934);
  --color-p-500: oklch(0.705 0.213 47.604);
  --color-p-600: oklch(0.646 0.222 41.116);
  --color-p-700: oklch(0.553 0.195 38.402);
  --color-p-800: oklch(0.47 0.157 37.304);
  --color-p-900: oklch(0.408 0.123 38.172);
  --color-p-950: oklch(0.266 0.079 36.259);

  --color-sc-50: oklch(0.985 0.002 247.839);
  --color-sc-100: oklch(0.967 0.003 264.542);
  --color-sc-200: oklch(0.928 0.006 264.531);
  --color-sc-300: oklch(0.872 0.01 258.338);
  --color-sc-400: oklch(0.707 0.022 261.325);
  --color-sc-500: oklch(0.551 0.027 264.364);
  --color-sc-600: oklch(0.446 0.03 256.802);
  --color-sc-700: oklch(0.373 0.034 259.733);
  --color-sc-800: oklch(0.278 0.033 256.848);
  --color-sc-900: oklch(0.21 0.034 264.665);
  --color-sc-950: oklch(0.13 0.028 261.692);

}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

@keyframes shimmer {
  0% { background-position: 200% 0; }
  100% { background-position: -200% 0; }
}

