@import "tailwindcss";

@theme {
  --color-p-50: oklch(0.97 0.02 35);
  --color-p-100: oklch(0.92 0.05 35);
  --color-p-200: oklch(0.82 0.10 35);
  --color-p-300: oklch(0.77 0.13 35);
  --color-p-400: oklch(0.70 0.18 35);
  --color-p-500: oklch(0.66 0.20 35);
  --color-p-600: oklch(0.58 0.22 35);
  --color-p-700: oklch(0.48 0.20 35);
  --color-p-800: oklch(0.40 0.17 35);
  --color-p-900: oklch(0.26 0.10 35);
  --color-p-950: oklch(0.15 0.05 35);

  --color-sc-50: oklch(0.985 0.002 247.839);
  --color-sc-100: oklch(0.967 0.003 264.542);
  --color-sc-200: oklch(0.928 0.006 264.531);
  --color-sc-300: oklch(0.872 0.01 258.338);
  --color-sc-400: oklch(0.707 0.022 261.325);
  --color-sc-500: oklch(0.551 0.027 264.364);
  --color-sc-600: oklch(0.446 0.03 256.802);
  --color-sc-700: oklch(0.373 0.034 259.733);
  --color-sc-800: oklch(0.278 0.033 256.848);
  --color-sc-900: oklch(0.21 0.034 264.665);
  --color-sc-950: oklch(0.13 0.028 261.692);

}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}
